<app-card>

    <div class="content">

      <h2 data-testid="forecastDate">{{ forecastData.date }}</h2>

      <div class="current-info">
        <img [src]="forecastData.icon" class="icon" data-testid="forecastIcon">
        <div class="statistics">
          <span data-testid="forecastCondition">{{ forecastData.condition }}</span>
          <span data-testid="forecastTemp">{{forecastData.currentTemperature}} {{units}}</span>
        </div>
      </div>

      <div class="range-info">
        <span data-testid="forecastHigh">High: {{forecastData.maximumTemperature}} {{units}}</span>
        <span data-testid="forecastLow">Low: {{forecastData.minimumTemperature}} {{units}}</span>
      </div>
    </div>

</app-card>