<div class="forecast-header background-primary">
    <a routerLink="/" data-testid="backNavigation"><h2>Back</h2></a>
    <h2 class="text-primary" data-testid="forecastTitle">{{cityForecastData.cityName}} ({{cityForecastData.zipCode}}) - {{cityForecastData.forecast.length}} Day Forecast</h2>
    <span></span>
</div>

<div style="margin-top: 32px">
    <app-responsive-card-grid-list>
    
        <ng-container *ngFor="let forecast of cityForecastData.forecast">
            <app-forecast-card [forecastData]="forecast" data-testid="forecastItem"></app-forecast-card>
        </ng-container>
    
    </app-responsive-card-grid-list>
</div>