<div style="position: relative; background: rgba(0,0,0,.45); padding: 8px; box-sizing: border-box; max-width: 288px;">
      
    <div style="position: absolute; top: 0px; right: 8px">
      <button class="primary" style="background: transparent; color: rgb(189, 69, 69)">
        <strong>X</strong>
      </button>
    </div>

    <div style="display: grid; grid-template-rows: 64px 80px 64px 32px; justify-items: center">

      <h2>Salt Lake City</h2>

      <div style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; width: 100%;">
        <img src="/assets/sun.png" height="100%">
        <div style="display: flex; flex-direction: column">
          <span>Cloudy</span>
          <span>72 F</span>
        </div>
      </div>

      <div style="display: flex; flex-direction: row; justify-content: space-evenly; width: 100%; align-self: center;">
        <span>High: 80 F</span>
        <span>Low: 80 F</span>
      </div>

      <a href="" style="color: white; text-decoration: none; color: #88C1F8">5-Day Forecast</a>

    </div>
</div>