@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

@import "./themes/night.theme.scss";
@import "./themes/day.theme.scss";

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding-left: 16px;
  padding-right: 16px;
}

input {
  border: none;
  height: 32px;
  border-radius: 4px;

  &:focus {
    outline: none;
  }
}

button {
  height: 32px;
  outline: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
